.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-section {
  margin-left: 264px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .App-section {
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .App-section {
    margin-left: 0;
    padding-bottom: 200px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
