.SideBar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 264px;
  height: 100vh;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
}

.SideBar-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 46px;
}

.SideBar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 12px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

.SideBar-button:hover {
  background-color: #6623d1;
  color: #fff;
  text-decoration: none;
}

.SideBar-source-block {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.SideBar-source-block .logo {
  vertical-align: middle;
  max-width: 100%;
  width: 24px;
}

.SideBar-source-block .link {
  padding-left: 8px;
}

.SideBar-theme-grid {
  width: 100%;
  margin-bottom: 8px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  display: grid;
  grid-auto-columns: 1fr;
}

.SideBar-option-block {
  display: flex;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}

.SideBar-option-block:hover {
  background-color: #f5f5f5;
}

.SideBar-option-block:active {
  border-color: #000;
}

.SideBar-option-block:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #6623d1;
}

.SideBar-option {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #b3b3b3;
  border-radius: 20px;
  background-color: #1d1d1d;
}

.SideBar-option.accent {
  background-color: #ff6161;
}

.SideBar-option.background {
  background-color: transparent;
}

/* ref: http://lea.verou.me/2011/02/checkerboard-pattern-with-css3/ */
.SideBar-option.checkerboard-bg {
  background-color: transparent;
  background-image: url(opacity-pattern.png);
  background-position: 0px 0px;
  background-size: 8px;
}

.SideBar-theme-header {
  padding-bottom: 8px;
}

.SideBar-theme-container {
  margin-bottom: 16px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #6623d1;
  text-decoration: underline;
}

.SideBar-author-block {
  display: flex;
  flex-direction: column;
}

.SideBar-author-block a {
  display: inline-block;
}

.SideBar-author-block .icon {
  vertical-align: middle;
}

.SideBar-author-block .link {
  padding-left: 8px;
}
